:root {
  --primary-color: #212121;
}

a {
  text-decoration: none;
  color: inherit;
}
.App {
  background-color: #f8f8f8;
  max-width: 1920px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  height: 100vh;
}
